# dependencies
/node_modules

# testing
/coverage

# production
#/dist
/compiled

#private
/art
compiled/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
*.log
.vscode
.idea
.awcache
.history
